<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>
<body> 
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <img src="" alt=""/>
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                      <a href="#home"><span class="fa fa-home solo"><b><h1>Home</h1></b></span></a>
                    </li>
                    <li>
                        <a href="#place" data-scroll>
                          <span class="fa fa-anchor solo"><b><h1>Place</h1></b></span>
                        </a>
                      <ul> <a href="#buy"><b>Buy</b></a></ul>
                           <ul>  <a href="#sell"><b>Sell</b></a></ul>
                           <ul> <a href="#deals"><b>Deals</b></a></ul>
                    </li>
                    <li>
                        <a href="#statics" data-scroll>
                          <span class="fa fa-anchor solo"><b><h1>Statics</h1></b></span>
                        </a>
                      <ul> <a href="#deepdive"><b>Deep dive</b></a></ul>
                          <ul> <a href="#rapports"><b>Rapports</b></a></ul>
                    </li>
                    <li>
                        <a href="#anch3" data-scroll>
                          <span class="fa fa-anchor solo"><b><h1>Finance</h1></b></span>
                        </a>
                      <ul><a href="#setup"><b>Set up</b></a></ul>
                          
                    </li>
                    
                     
                </ul>
            </nav>
        </div>
 <!-- Sidebar -->
        <div id="sidebar-second">
          <img src="" alt=""/>
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                      <a href="#auto"><span class=" fa-home solo"><b><h1>Auto</h1></b></span></a>
                    </li>
                    <li>
                        <a href="#details" data-scroll>
                          <span class=" fa-anchor solo"><b><h1>More in details</h1></b></span>
                        </a>
                    <li>
                        <a href="#average" data-scroll>
                          <span class=" fa-anchor solo"><b><h1>Average Time Left</h1></b></span>
                        </a>
                    
                    <li>
                        <a href="#value" data-scroll>
                          <span class=" fa-anchor solo"><b><h1>Scrap value</h1></b></span>
                        </a>
                      <ul><a href="#xyz"><b>xyz</b></a></ul>
                          
                    </li>
                    <li>
                     
                </ul>
            </nav>
        </div>


  
  <li><button type="button" class="button"><b>Upload New Standard Contracts</b></button></li>
  <li><button type="button" class="button"><b>Update Standard Scrap Value</b></button></li>
  <li><button type="button" class="button"><b>Update Standard Credit Rules</b></button></li>
  <li><button type="button" class="button"><b>Update Standard Insurance Products</b></button></li>
<table class="box">
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$10</td>
  </tr>
</table>
 
    <div class="container">  
  <form id="contact" action="" method="post">
    <h3>Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
<form action="mysql etc">
  <h2>Upload New Standard Contracts</h2>
<input type="file" name="fileupload" value="fileupload" id="fileupload">
<label for="fileupload"><b></b> </label>
<input type="submit" value="submit" id="submit">
</form> 
</div>
  </body>
  </html>
